@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

/* Base styles */
html {
  scroll-padding-top: 6rem; /* Adjust this value to match the height of your fixed navbar */
}

.default-global {
  font-family: 'Signika', ui-sans-serif, system-ui, sans-serif;
  font-variant: small-caps;
  background-color: #ffffff;
  color: #000000;
}
